---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import { ArticleRepository } from "../../lib/infraestructure/ArticleRepository";
import { Markdown } from "@astropub/md";

const { id } = Astro.params;

const repository = ArticleRepository.obtenerInstancia();
const article = await repository.GetById(id!);
if (article == null) {
  return Astro.redirect("/404");
}
const value = article.Value.replaceAll("\\n", "\n");
console.log(value);
---

<Layout title={article.Title}>
  <Header>
    <span class="category" transition:name=`Category-${id}` 
      >{article.Category}</span
    >
  </Header>
  <main class="container">
    <article class="article">
      <span>
        <a href="javascript: history.go(-1)" id="button" data-astro-reload >
          <img src="../../../public/icons/leftarrow.svg" alt="Left arrow" />
        </a>
        <h1 class="title" transition:name=`Title-${id}`>
          {article.Title}
        </h1>
      </span>
      <span class="date">{article.PublishAt.toDateString()}</span>

      <div class="content">
        <Markdown
          of={/*"```python \nprint(\"Hello, world!\")\nfor i in range(10):\n    print(i)\n```"*/ value}
        />
      </div>
    </article>
  </main>
</Layout>
<script>
  let button=document.getElementById("button");
  
</script>
<style>
  .container {
    display: flex;

    justify-content: center;
  }

  .category {
   
    color: var(--secondary-color);
  }

  .article {
    margin-top: 80px;
    width: 50%;
  }
  .article > span {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #button {
    border-radius: 50%;

    display: inline;
    display: flex;
    align-items: center;
  }

  .title {
    font-weight: bold;
    font-size: 2em;
    display: inline;
  }
  .date {
    font-weight: bold;
    margin-top: 10px;
    color: var(--secondary-color);
  }
  
  .content {
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (width<580px) {
    .container {
      margin-top: 60px;
    }
    .article {
      width: 100%;
      margin-top: 20px;
      padding: 7px;
    }
  }
</style>
