---
import Layout from "../layouts/Layout.astro";
import { ArticleRepository } from "../lib/infraestructure/ArticleRepository";
import Header from "../components/Header.astro";
import Article from "../components/Article.astro";


let article = ArticleRepository.obtenerInstancia();
if (!article.clientApp) {
  await article.Init();
  article.Articles = await article.Read();
  console.log(article.Articles);
}

---

<Layout title="Blog Danny Quezada">
  <Header />
  <main>
    <section id="important">
      <h1>Articles</h1>
      <span id="countArticles">{article.Articles.length} articles</span>
      <div id="articles">
        {
          article.Articles.map((element) => (
            <Article
              Category={element.Category}
              Date={element.PublishAt}
              Id={element.Id}
              Description={element.Description}
              Title={element.Title}
            />
          ))
        }
      </div>
      <button type="button" id="button" class="animatedRemove">
        <img src="../../public/icons/arrow.svg" alt="" />
      </button>
    </section>
  </main>
</Layout>

<style>
  main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2em;
    font-weight: bold;
  }
  main #important {
    margin-top: 100px;
    width: 50%;
  }

  #countArticles {
    font-weight: 600;
    color: var(--secondary-color);
  }

  #button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border-radius: 50%;
    z-index: 1;
    position: fixed;
    background-color: rgb(24, 180, 180);
    transition: all 0.3s ease-in-out;
    transform-style: preserve-3d;
    right: 25px;
    bottom: 25px;
  }

  .animated {
    width: 50px;
    height: 50px;
    display: block;
  }
  .animatedRemove {
    width: 0px;
    height: 0px;
    display: none !important;
  }

  @media (width<480px) {
    main #important {
      margin-top: 60px;
      width: 100%;
      padding: 7px;
    }
    header nav {
      width: 100%;
      position: fixed;
      z-index: 2;
    }
  }
</style>
<script>
  let a = document.getElementsByTagName("a")[0];
  console.log(a);
  a.addEventListener("click", function (e) {
    console.log(a);
    e.preventDefault();
    history.pushState({}, "", "/Article/prueba");
  });
  let button = document.getElementById("button")!;
  button.addEventListener("click", (e) => {
    window.scrollTo({ behavior: "smooth", top: 0 });
  });

  window.addEventListener("scroll", (e) => {
    console.log(window.scrollY);
    if (window.scrollY >= 50) {
      button.classList.add("animated");
      button.classList.remove("animatedRemove");
    } else {
      button.classList.remove("animated");
      button.classList.add("animatedRemove");
    }
  });
</script>
