---
interface Props {
  Id: string;
  Category: string;
  Title: string;
  Description: string;
  Date: Date;
}
const { Id, Category, Title, Description, Date } = Astro.props;
---

<article class="article">
  <a target="_self" href={`/article/${Id}`} >
    <h3 class="category" transition:name=`Category-${Id}`>{Category}</h3>
    <h2 class="title" transition:name=`Title-${Id}`>{Title}</h2>
    <p class="description">{Description}</p>
    <span class="date">{Date.toDateString()}</span>
  </a>
</article>

<style>
  .article {
    margin-top: 40px;
  }
  .article a {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
  .article .category {
    font-size: 1em;
    font-weight: 800;
    color: var(--secondary-color);
  }
  .article .title {
    font-weight: bold;
  }
  .article .description {
    color: rgb(150, 146, 146);
    font-weight: 500;
  }
  .article .date {
    color: var(--secondary-color);
    font-size: 0.8em;
    font-weight: 600;
  }
</style>
<script></script>
